<div class='container'>
	<h1 class='admin-section-titles'>Selecciona una tarea</h1>
	<div class='row admin-btns'>
		<div class='col-md-3 col-sm-3 col-xs-4'>
			<a href='/checks/new/add/'>
				<button class='btn btn-block btn-primary'>A単adir chequeo</button>
			</a>
		</div>
		<div class='col-md-3 col-sm-3 col-xs-4'>
			<a href='/add/profile'>
				<button class='btn btn-block btn-primary'>A単adir personaje</button>
			</a>
		</div>
		<div class='col-md-3 col-sm-3 col-xs-4'>
			<a href='/add/grupo-movimiento'>
				<button class='btn btn-block btn-primary'>A単adir movimiento</button>
			</a>
		</div>
	</div>
	<div class='row admin-btns'>
		<div class='col-md-3 col-sm-3 col-xs-4'>
			<a href='/staff/register/'>
				<button class='btn btn-block btn-primary'>Registrar staff</button>
			</a>
		</div>
		<div class='col-md-3 col-sm-3 col-xs-4'>
			<a href='/add/slide'>
				<button class='btn btn-block btn-primary'>A単adir slide</button>
			</a>
		</div>
	</div>
	<hr />
	<section id='new-checks'>
		<h1 class='admin-section-titles'>Chequeos registrados</h1>
	</section>
</div>
