<div id='footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2'>
        <div class='footer-logo'>
        	<a href='https://colombiacheck.com/'>
          	<img src='/img/footer-logo.png' alt='Colombia Check'>
          </a>
        </div>
        <br />
        <p style='color: #FFF;' class='text-center'>
      		Un proyecto de <a href='https://consejoderedaccion.org/'>Consejo de Redacción</a>
      	</p>
      </div>
    </div>
  </div>
</div>
