<!DOCTYPE html>
<html>
	<head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

		<title>{{title}}</title>

		<link rel='stylesheet' type='text/css' href='https://use.fontawesome.com/releases/v5.0.9/css/all.css'>
		<link rel='stylesheet' type='text/css' href='/css/main.min.css'>
	</head>
	<body>
		<!-- call navbar -->
		{{> navbar}}

		<!-- insert body -->
		<div id='content'>
			{{> msg}}
			{{> errors}}
			{{{body}}}
		</div>

		<!-- call footer -->
		{{> footer}}

		<!-- load scripts -->
		<script type='text/javascript' src='/scripts/jquery.min.js'></script>
		<script type='text/javascript' src='/scripts/bootstrap.min.js'></script>
		<script type='text/javascript' src='/scripts/main.min.js'></script>
	</body>
</html>
