<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
      <h4 class='text-center'>Registrar un nuevo grupo o movimiento</h4>
      <p class='text-center'>
        Ingresa el nombre del grupo o movimiento.
      </p>
      <!-- formulario sesión administrador -->
      <hr class='add-item-division' />
      <form action='/add/grupo-movimiento' method='post'>
        <div class='form-group'>
          <input type='text' name='movimiento' class='form-control' placeholder='Grupo o movimiento' />
          <button class='btn btn-primary btn-block submit-btn' type='submit'>Capturar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<hr />
