<div class='container'>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4'>
      <h4 class='text-center'>Registrar a un nuevo usuario</h4>
      <hr class='thumb-login-division' />
      <div class='thumb-login'>
        <!-- formulario registro de usuario -->
        <form action='/staff/register/' method='post'>
          <div class='form-group'>
            <input type='text' name='name' class='form-control' value='{{name}}' placeholder='Nombre de usuario' autocomplete='off' required />
            <input type='email' name='email' class='form-control' value='{{email}}' placeholder='Correo electrónico' autocomplete='off' required />
            <input type='password' name='password' class='form-control' value='{{password}}' placeholder='Contraseña' required />
            <input type='password' name='password_confirm' class='form-control' value='{{password_confirm}}' placeholder='Confirmar contraseña' required />
            <button class='btn btn-primary btn-block submit-btn' type='submit'>Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
